<%= render 'breadcrumb',
  :parent     => @route[:reqs][:controller].humanize,
  :current    => @route[:path],
  :label      => @route[:verb],
  :label_type => 'important'
%>

<% if @params.is_a?(Hash) && @params.has_key?(:undefined) %>
  <%= render 'undefined_route', :route => @params[:undefined] %>
<% else %>

  <% if @comment %>
    <div class="well">
      <%= markdown @comment %>
    </div>
  <% end %>

  <% @params.each do |param| %>
    <%= form_tag @route[:path], :method => @route[:verb], :class => 'well form-horizontal', :remote => true do %>

      <% if param[:url_params].empty? && param[:post_params].empty? %>
        <div class="alert alert-info">
          No params specified.
        </div>
      <% else %>
        <ul class="nav nav-tabs">
          <li class="nav-label">JSON Request</li>
            <li class="active"><a href="#" id="url-params">Request Data</a></li>
        </ul>
      <% end %>


      <fieldset ref="url-params">
        <% param[:url_params].each do |label, value| %>
          <%= render 'param_form_element', :label => "[api_taster_url_params]#{label}", :value => value, :label_text => label, :type => ''%>
        <% end %>
        <%= ApiTaster::FormBuilder.new(param[:post_params]).html.html_safe %>
      </fieldset>


      <div class="form-actions">
        <input type="hidden" id="submit-type" name="submit-type" value="json" />
        <input id="submit-api" type="submit" class="btn btn-primary pull-left"></input>
      </div><br>

      <textarea readonly class="span8" rows="4" cols="300" id="req-json" name="req-json" value=""></textarea>

    <% end %>
  <% end %>
<% end %>

<div id="show-api-response-div" class="well hidden">
  <ul class="nav nav-tabs">
    <li class="nav-label">Response</li>
    <!-- <li class="hidden"><a href="#" id="response-info">Headers</a></li> -->
    <li class="hidden"><a href="#" id="response-json">JSON</a></li>
  </ul>
 <!--  <pre ref="response-info">
    <table>
      <tr class="status">
        <td class="name">Status:</td>
        <td class="value str"></td>
      </tr>
      <tr class="time">
        <td class="name">Time:</td>
        <td class="value str"></td>
      </tr>
      <tr class="headers">
        <td class="name">Headers:</td>
        <td class="value str"></td>
      </tr>
    </table>
  </pre> -->
  <pre class="prettyprint nowrap" ref="response-json"></pre>
</div>
